body{
    background-color: #ffffcc;
}

#wrapper{
    margin: auto;
    width: 80%;
}

#nav {
    text-align: center;
}

h1{
    background-color: #ccaa66;
    font-weight: bold;
    text-align: center;
}

#footer {
    text-align: center;
    background-color: #ccaa66;
    font-size: 0.6em;
}

#info{
    font-size: 0.9em;
}

dl {
    font-family: monospace;
    width: 80%;
    margin-right: auto;
}
